.bg-image {
    background-image: linear-gradient(to right, rgba(32, 32, 33, 0.6) 50%, rgba(35, 61, 77, 0.6) 50%), url('/bgImage.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}

.mainTitle{
     text-shadow: 2px 2px 4px #597be6;
}